<div class="row page" id="admin-index">
    <div class="col-1-6"></div>
    <div class="col-4-6">
        <div class="row">
            <div class="col-1-4">
                <a href="/index">
                    <img id="little-logo" alt="BadenBattle-logo" src="static/images/logo.png"/>
                </a>
            </div>
            <div class="col-3-4">
                <div id="title">Admin</div>
            </div>
        </div>
        <div id="admin-menu">
            <h2>Menu</h2>
            <ul>
                <li><a href="./teams">Gestion des &eacute;quipes</a></li>
                <li><a href="./games">Gestion des jeux</a></li>
                <li><a href="./ranking">Classements</a></li>
                <li><a href="./search">Chercher un jeu</a></li>
                <li><a href=".">Param&egrave;tres</a></li>
            </ul>
        </div>
    </div>
    <div class="col-1-6"></div>
</div>
