<!DOCTYPE html>
<!--
    Baden Battle score app project
    Created by Benoit Vander Stappen
    2019
-->
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <title>Baden Battle Admin</title>
    <link rel="stylesheet" href="./static/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="./static/css/admin.css"/>
    <link rel="icon" type="image/ico" href="./favicon.ico">
    <link rel="icon" type="image/png" sizes="32x32" href="./static/images/favicon-32x32.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-180x180.png">
    <link rel="icon" sizes="192x192" href="/android-chrome-192x192.png">
    <link rel="icon" sizes="512x512" href="/android-chrome-512x512.png">
</head>
<body>
