<div class="row page" id="match-page">
    <div class="col-1-6"></div>
    <div class="col-4-6">
        <div class="row">
            <div class="col-1-4">
                <a href="/admin">
                    <img id="little-logo" alt="BadenBattle-logo" src="static/images/logo.png"/>
                </a>
            </div>
            <div class="col-3-4">
                <div id="title">Match</div>
            </div>
        </div>
        <div class="row" id="match-top-nav-buttons">
            <div class="col-2-6">
                <form><button type="submit" formaction="/admin" class="match-top-nav-button">Admin</button></form>
            </div>
            <div class="col-2-6">
                <form><button type="submit" formaction="/admin/games" class="match-top-nav-button">Jeux</button></form>
            </div>
            <div class="col-2-6">
                <form><button type="submit" formaction="/admin/teams" class="match-top-nav-button">Equipes</button></form>
            </div>
        </div>
        <div class="row">
            <div id="error-not-found" style="display: none;" class="error-message">Match non trouv&eacute;</div>
            <div id="notification" class="notification">{notification}</div>
            <div id="error" class="error-message notification">{error}</div>
        </div>
        <form id="match-form" action="/admin/match" method="post">
            <div class="row">
                <div class="col-2-6 match-form-item-label">Jeu:</div>
                <div class="col-4-6 match-form-item">
                    <input type="text"
                           id="match-game-number"
                           class="leader-code-field"
                           name="game_number"
                           value="{game-number}"
                           required
                           readonly
                    /><span id="game-name" class="leader-text-field">{game-name}</span>
                </div>
            </div>
            <div class="row">
                <div class="col-2-6 match-form-item-label">Temps:</div>
                <div class="col-4-6 match-form-item">
                    <input type="text"
                           id="time"
                           class="leader-code-field"
                           value="{time}"
                           required
                           readonly
                    /><span id="schedule" class="leader-text-field">{schedule}</span>
                </div>
            </div>
            <div class="row">
                <div class="col-2-6 match-form-item-label">Vainqueur:</div>
                <div class="col-4-6 match-form-item">
                    <input type="radio" name="winner" value="no-scores"/>Pas de score<br/>
                    <input type="radio" name="winner" value="{team1-code}"/>{team1}<br/>
                    <input type="radio" name="winner" value="{team2-code}"/>{team2}<br/>
                    <input type="radio" name="winner" value="even"/>Egalit&eacute;<br/>
                </div>
            </div>
            <input type="hidden" name="mid" value="{mid}"/>
            <div class="row" >
                <button type="submit" id="edit-score-button" class="confirm-button">Modifier</button>
            </div>
        </form>
    </div>
    <div class="col-1-6"></div>
</div>
