<div class="row page" id="player-page">
    <div class="col-1-6"></div>
    <div class="col-4-6">
        <div class="row">
            <div class="col-1-4">
                <a href="./index">
                    <img id="little-logo" alt="BadenBattle-logo" src="static/images/logo.png"/>
                </a>
            </div>
            <div class="col-3-4">
                <div id="title">Score</div>
            </div>
        </div>
        <div class="row" id="camera-preview-div">
            <div id="no-camera-error" class="error-message">Pas de cam&eacute;ra d&eacute;tect&eacute;e</div>
            <video id="camera-preview">Votre navigateur ne supporte pas l'apercu de la cam&eacute;ra.</video>
            <button type="button" id="close-camera-preview">Fermer la cam&eacute;ra</button>
        </div>
        <form id="player-form" method="post">
            <div class="row">
                <div class="col-1-4">
                    <input readonly
                           type="text"
                           id="player-team-code"
                           class="team-code-field"
                           name="team_code"
                           value="{teamcode}"
                    />
                </div>
                <div class="col-2-4"></div>
                <div class="col-1-4">
                    <img id="player-qr-code-button" class="click-img" alt="capture QR code" src="./static/images/sample-qr-code.png">
                </div>
            </div>
        </form>
        <p id="wrong-teamcode" style="display: none;" class="error-message">L'&eacute;quipe scann&eacute;e n'existe pas</p>
        <div id="scores" style="display: none;">
            <div class="row">
                <div class="col-3-4">
                    <p id="section-name">Score moyen {section-name}</p>
                </div>
                <div class="col-1-4">
                    <p id="section-score">{section-score}</p>
                </div>
            </div>
            <div class="row">
                <div class="col-3-4">
                    <p>Ton &eacute;quipe</p>
                </div>
                <div class="col-1-4">
                    <p id="team-score">{team-score}</p>
                </div>
            </div>
        </div>
        <div class="row">
            <button type="submit" form="player-form" id="get-score-button" class="large-button">V&eacute;rifier le score</button>
        </div>
    </div>
    <div class="col-1-6"></div>
</div>
