/* color codes
2B7254
A6C599
D0E095
E2EBBE
efefef
FFFFFF
*/

/* globals*/
@viewport {
 width: device-width;
 zoom: 1;
 user-zoom: fixed;
 }

 * {
    box-sizing: border-box;
}
body {
    font-family: Calibri, Arial, sans-serif;
    background-color: #D0E095;
    color: #2B7054;
    width: 70%;
    max-width: 1100px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
    overflow: hidden;
    min-width: 350px;
    text-align: center;
}
input[type=text]{
    background-color: #E2EBBE;
    border: 0;
    border-radius: 16px;
}
button{
    font-size: 2em;
    padding: 10px;
    cursor: pointer;
    background-color: #2B7054;
    color: #efefef;
    border: 0;
    border-radius: 16px;
    transition: background-color 0.1s;
}
button:hover{
    box-shadow: 0 0 1px 1px #efefef;
}
button:active{
    background-color: #A6C599;
    transition: background-color 0.1s;
}
/* For IE */
a{
    text-decoration: none;
    outline: 0;
}
img{
    border: none;
}
/* clearfix hack */
.row:before,
.row:after {
    content:"";
    display: table;
    clear:both;
}
[class*='col-'] {
    float: left;
    min-height: 1px;
}
/*
.col-1-6{ width: 16.66%;}
.col-2-6{ width: 33.33%;}
.col-3-6{ width: 50%;   }
.col-4-6{ width: 66.66%;}
.col-5-6{ width: 83.33%;}
.col-6-6{ width: 100%;  }
.col-1-4{ width: 25%;}
.col-2-4{ width: 50%;}
.col-3-4{ width: 75%;}
.col-4-4{ width: 100%;}
*/
.col-1-6{ width: 16.66%; border: 1px solid black;}
.col-2-6{ width: 33.33%; border: 1px solid black;}
.col-3-6{ width: 50%;    border: 1px solid black;}
.col-4-6{ width: 66.66%; border: 1px solid black;}
.col-5-6{ width: 83.33%; border: 1px solid black;}
.col-6-6{ width: 100%;   border: 1px solid black;}
.col-1-4{ width: 25%; border: 1px solid black;}
.col-2-4{ width: 50%; border: 1px solid black;}
.col-3-4{ width: 75%; border: 1px solid black;}
.col-4-4{ width: 100%; border: 1px solid black;}

#little-logo{
    width:100%;
}
#title{
    font-size: 3em;
    text-align: left;
    padding-left: 15px;
    padding-top: 35px;
}
/**********************/
#home-page {
}
#big-logo {
    margin-bottom: 30px;
    width: 100%;
}
.homepage-buttons{
    width: 95%;
}
#goto-player {
    float:left;
}
#goto-leader {
    float:right;
}
/**********************/
#login-page {
}
#login-form{
    margin-top: 100px;
}
.password-text {
    float:left;
    width:100%;
    padding: 10px;
    margin-bottom: 10px;
    font-size:2em;
}
.password-text::placeholder{
    text-align: center;
}
.error-message{
    color: red;
}
#confirm-password-button {
    float:right;
    width:95%;
}
/**********************/
#player-page{
}
#player-form{
    margin-top: 50px;
}
.team-code-field{
    width: 85%;
    padding: 10px;
    font-size:1.6em;
}
#qr-code-button{
    width:50%;
    border-radius: 10px;
}
#scores{
    margin-top: 40px;
    font-size: 1.5em;
}
#get-score-button{
    margin-top: 40px;
    width: 90%;
}




/**********************/
footer {
    position: fixed;
    z-index: 1;
    bottom: 15px;
    left: 0;
    width: 100%;
    text-align:center;
    font-size: 0.7em;
}
footer a{
    color: #2B7054;
}
