
body{
	width: 95%;
    margin-top: 10px;
}
.col-1-6{ width: 25%; }
.col-2-6{ width: 100%; }
.col-3-6{ width: 100%;}
.col-4-6{ width: 100%; }
.col-5-6{ width: 100%; }
.col-6-6{ width: 100%; }


#little-logo{
    width: 100%;
}

#title{
    text-align: center;
    padding-top: 0px;
}

#home-page{
    margin-top: 50px;
}
.homepage-buttons{
	width: 100%;
	margin-bottom: 15px;
}

#confirm-password-button {
	width: 100%;
}

#match-top-nav-buttons{
    margin-top: 5px;
    margin-bottom: 10px;
}
.match-top-nav-button{
    margin-top: 5px;
}
.match-form-item-label{
    margin-left: 10px;
    text-align: left;
    padding-bottom: 10px;
}
.match-form-item{
    margin-left: 20px;
}
#edit-score-button{
    width: 95%;
}